@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400|Oswald:400,500,700');

/* global font rules */
body,
p,
span,
a {
  font-family: 'Nunito', sans-serif;
  color: #fff;
}

body {
  background: #1e1c26 !important;
}

h1,
h2,
h3,
h4 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.7rem;
  color: #fff;
  font-weight: 400;
}
textarea,
select,
input,
button {
  outline: none;
}

/* document color */
