@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400|Oswald:400,500,700');

/* global font rules */
body,
p,
span,
a {
  font-family: 'Nunito', sans-serif;
  color: #fff;
}

body {
  background: #1e1c26 !important;
}

.pagination-bottom {
  display: none;
}

h1,
h2,
h3,
h4 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.7rem;
  color: #fff;
  font-weight: 400;
}
textarea,
select,
input,
button {
  outline: none;
}

/* document color */

.slide-holder {
  position: fixed;
  z-index: 20000;
  top: 0vh;
  left: 0vw;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  animation: wipe-left 0.5s 3s ease-in-out both;
}
.slide-inner {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('../media/bg.jpg');
  background-size: cover;
}

.slide-title h1 {
  font-size: 8rem;
  width: 50wv;
  animation: wipe-in-left 2s 1s linear both;
}

.slide-title h1.contractor {
  font-size: 6rem;
}

.slide-accent {
  width: 50vw;
  height: 11vw;
  background-image: url('../media/slide-accent.png');
  background-size: 100% 100%;
  animation: wipe-in-right 2s 1s linear both;
}

@keyframes wipe-left {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
}
@keyframes wipe-in-left {
  from {
    transform: translate3d(5%, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  10% {
    transform: translate3d(0, 0, 0);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  to {
    transform: translate3d(-5%, 0, 0);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
@keyframes wipe-in-right {
  from {
    transform: translate3d(-5%, 0, 0);
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
  10% {
    transform: translate3d(0, 0, 0);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  to {
    transform: translate3d(5%, 0, 0);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
