@import url('https://fonts.googleapis.com/css?family=Nunito|Oswald');

/* global font rules */
body,
p,
span,
a {
  font-family: 'Nunito', sans-serif;
  color: #fff;
}

body {
  background: #1e1c26 !important;
}

h1,
h2,
h3,
h4 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: #fff;
  font-weight: 900;
}
textarea,
select,
input,
button {
  outline: none;
}

/* document color */
