.eos-header-holder {
    text-align: center;
    height: 12rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.eos-header-holder .header {
    line-height: 90%;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
    animation: fade-in 0.5s 1s linear both;
}


.eos-header-holder .bracket {
    background-image: url('../media/header-holder.png');
    height: calc(25rem*0.14);
    width: 25rem;
    background-size: 100% 100%;
    animation: open-top 0.5s 0.5s ease-out both;
}

.eos-header-holder .bracket.bottom-bracket {
    transform: rotateX(180deg);
    animation: open-bottom 0.5s 0.5s ease-out both;
}

@keyframes open-top {
    from {
        transform: translate(0, 2.5rem);
    }
    to {
        transform: translate(0, 0);
    
    }
}
@keyframes open-bottom {
    from {
        transform: translate(0, -2.5rem) rotateX(180deg);
    }
    to {
        transform: translate(0, 0) rotateX(180deg);
    
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        filter: blur(4px);
    }
    to {
        opacity: 1;
        filter: blur(0px);
    }
}

/* create campaign form fields */

input.form-control[type="text"] {
    appearance: none;
    background-color: rgba(0,0,0,0);
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid #ACC0CC;
    transition: all 0.5s ease;
}

input.form-control:focus {
    background-color: #000;
    border-bottom: 1px solid #B6F7C1;
    color: #B6F7C1;
}
input.form-control:focus + label {
    
    color: #B6F7C1;
}

form {
    padding: 2rem;
    background-color: #2A2833;
    border-radius: 0.5rem;
}

.form-shadow {

    box-shadow: 0px 10px 30px #000;
}